<div class="row my-5 ml-3">
    <div class="jumbotron toApplyStyles col-md-6 offset-md-1">
        <h1 class="display-4">De Olho Neles</h1>
        <p class="lead">Essa é uma aplicação web com o objetivo de facilitar o acesso do grande público às informações de gastos da API 
            da camara dos deputados, assim como gerar um resumo a cada 1 ou 2 semanas de todos os gastos feitos pelos deputados que 
            o usuário decidir monitorar.</p>
        <hr class="my-4">
        <p class="text-right">Caso você queria contribuir com o projeto, temos um repositório público no GitHub.</p>
        <a class="btn float-right toApplyStyles" href="https://github.com/de-olho-neles/de-olho-neles.github.io" role="button" target="_blank">Git</a>
    </div>
</div>