<div class="d-inline-flex">

    <div class="input-group">
        <input type="text" (keydown.enter)="searchButtonClicked()" class="form-control" placeholder="Deputado's name"
            [(ngModel)]="searchText">
        <div class="input-group-append" style="cursor: pointer" (click)="searchButtonClicked()">
            <span class="input-group-text" id="go">Go!</span>
        </div>
    </div>
</div>

<div class="d-inline-flex">

    <div class="px-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn" type="button" data-toggle="collapse"
                    data-target=".dropTartget1">Partido</button>
            </div>
            <select class="custom-select dropTartget1 collapse" aria-label="Example select with button addon"
                [(ngModel)]="partido" id="partidoOption" *ngIf="isPartidosLoaded">
                <option *ngFor="let Partido of partidos" [value]=Partido>{{Partido}}</option>
            </select>
        </div>
    </div>

    <div class="px-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn" type="button" data-toggle="collapse"
                    data-target=".dropTartget2">Estado</button>
            </div>
            <select class="custom-select dropTartget2 collapse" aria-label="Example select with button addon"
                [(ngModel)]="estado" id="estadoOption"  *ngIf="isEstadosLoaded">
                <option *ngFor="let Estado of estados" [value]=Estado>{{Estado}}</option>
            </select>
        </div>
    </div>
</div>