/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e9ecef linear-gradient(#dbddde 80%, #cacaca 90%);

}
.app-main{
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
}
.app-main-title, .app-main-subtitle{
  font-weight: normal;
}
