.toApplyStyles {
    background-color: #B6D6CC;
    border-bottom: solid 1px #FB6107;
}

.btn {
    border: solid 1px #FB6107;
    background-color: #F1FEC6;
    color: #FB6107;
}

#profile-icon {
    background: url(/assets/profile.svg) no-repeat top right;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}
